<p id="notice"><%= notice %></p>


<div class="row show-grid">
    <div class="col-md-1">姓名:</div>
    <div class="col-md-6"><%= @custom.name %></div>
</div>
<%= link_to '编辑个人资料', edit_custom_path(@custom), class:"h3" %><br/>
<%= link_to '新增收货地址', new_detail_path, class:"h3" %>
