/* Global styles */

body {
    background: #eeffee;
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background: url(../images/logo.png);
    width: 270px;
    height: 50px;
}
.nav li a:hover {
    background: #2A6496;
    color: #fff;
    border-radius: 5px;
}
.nav .nav-header {
    font-weight: bolder;
}

.show-grid {
    margin-bottom: 10px;
}

#product_list .list_image {
    height: 5.4em;
    width: 6em;
}
.weather {
    margin-top: 1em;
}
/* An entry in the store catalog */

#cart {
    margin-bottom: 1.5em;
}
.depot_form fieldset {
    background: #efe;
    padding-bottom: 2em;
}

.depot_form legend {
    color: #dfd;
    background: #E8D8FF;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot_form .form-group {
    padding-bottom: 3em; 
}
 
.depot_form .control-label {
    text-align: right;
    padding-top: .4em;
}


/* END:form */
.nav-color {
    /*background: #EEFFEE;*/
    color: #8E8277;
}

.add-pro {
    margin-top: .7em;
}

.label-bottom {
    margin: 10px;
}
.nav-set {
  /*  background: url(../images/bg.jpg);*/
    margin-bottom: 12px;
}
.nav li a {
    color: #2C4949;
}
.set {
    padding-left: 0px;
}

.pro-price {
  color: #CE2635;
  font-size: 1em;
  margin-top: 0.5em;
}

.pro-title {
  font-size: 1.2em;
  margin-top: 0.2em;
  text-overflow:ellipsis;
  font-family: Arial;
  overflow: hidden;
  white-space: nowrap; 
  word-wrap: break-word;
}

.slideshow-list .next-top {
  color: #000000;
  cursor: pointer;
  position: absolute;
  top: 20px;
  z-index: 9999;
}

.slideshow-list .prev-top {
  color: #000000;
  cursor: pointer;
  position: absolute;
  top: 2px;
  z-index: 9999;
}

.slideshow-list ul {
  left: 2em;
}

.sub-set {
  margin: 1em 0;
}

#container.index_ad .prev {
    background: url("http://www.feilook.com/static/images/btn-prev.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 33px;
    left: 10px;
    position: absolute;
    top: 45%;
    width: 30px;
    z-index: 999;
}
#container.index_ad .next {
    background: url("http://www.feilook.com/static/images/btn-next.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 33px;
    position: absolute;
    right: 10px;
    top: 45%;
    width: 30px;
    z-index: 999;
}

.index_ad {
    margin: 0 0 2em 3.5em;
}