/* Global styles */

body {
    background: #eeffee;
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background: url(../images/logo.png);
    width: 270px;
    height: 50px;
}
.nav li a:hover {
    background: #2A6496;
    color: #fff;
    border-radius: 5px;
}
.nav .nav-header {
    font-weight: bolder;
}

.show-grid {
    margin-bottom: 10px;
}

#product_list .list_image {
    height: 5.4em;
    width: 6em;
}
.weather {
    margin-top: 1em;
}
/* An entry in the store catalog */


.depot_form fieldset {
    background: #efe;
    padding-bottom: 2em;
}

.depot_form legend {
    color: #dfd;
    background: #E8D8FF;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot_form .form-group {
    padding-bottom: 3em; 
}
 
.depot_form .control-label {
    text-align: right;
    padding-top: .4em;
}


/* END:form */
.nav-color {
    /*background: #EEFFEE;*/
    color: #8E8277;
}

.add-pro {
    margin-top: .7em;
}

.label-bottom {
    margin: 10px;
}
.nav-set {
    background: url(../images/bg.jpg);
    margin-bottom: 12px;
}

