/* Global styles */

body {
   /* background: url(../images/bg.gif);*/
}

.nav li a:hover {
    background: #2A6496;
    color: #fff;
    border-radius: 5px;
}
.nav .nav-header {
    font-weight: bolder;
}

.show-grid {
    margin-bottom: 10px;
}

#product_list .list_image {
    height: 5.4em;
    width: 6em;
}

/* An entry in the store catalog */


.depot_form fieldset {
    background: #efe;
}

.depot_form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
    margin-left: 0.5em;
}

.depot_form .submit {
    margin-left: 4em;
}

.depot_form div {
    margin: 0.5em 0;
}
/* END:form */